<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Adaptable Blotter Hypergrid Demo</title>
    <!--CSS for the demo-->
    <link href="hypergriddemo.css" rel="stylesheet" />
    <link href="demo.css" rel="stylesheet" />
    <!-- Latest Hypergrid -->
    <script src="ExtLibs/hypergrid/fin-hypergrid.js"></script>

    <script src="ExtLibs/angular/angular.min.js"></script>
    <script src="ExtLibs/iPushPull/ng-ipushpull-standalone.js"></script>
</head>

<body>
    <nav style="margin-bottom:0px;">
        <span>
            &nbsp;&nbsp; &nbsp;&nbsp;
            <img src="../images/AdaptableBlotter.png" height="50">
            &nbsp;&nbsp; &nbsp;&nbsp;
            <h4>A demo of AdaptableBlotter.JS integrating with Hypergrid with NO predefined
                    configuration.
                </h4>
        </span>
    </nav>
    <script>
        function saveData() {
            var datasetElement = document.getElementById("dataset_select");
            localStorage.setItem(datasetElement.id, datasetElement.value);
            window.location.reload();
        }
    </script>
    <!-- Adaptable Blotter div for react and dashboard -->
    <div id="adaptableBlotter"></div>
    <p></p>
    <!-- Grid div -->
    <div id="grid"></div>
    <% if (htmlWebpackPlugin.options.harnessJs) { %>
    <script src="<%= htmlWebpackPlugin.options.harnessJs %>" type="text/javascript"></script>
    <% } %>
    <% if (htmlWebpackPlugin.options.demoJs) { %>
    <script src="<%= htmlWebpackPlugin.options.demoJs %>" type="text/javascript"></script>
    <% } %>
    <script>
        var blotter = new hypergridbasicdemo.HypergridBasicDemo()
    </script>
</body>

</html>