:root {
  --sidebar_font-size: var(--demo-font-size-4);
}

.sidebar {
  height: 100%;
  z-index: 1;
  font-size: var(--sidebar_font-size);
  position: relative;
  min-width: 14rem;
  background-color: var(--demo-color-blue);
  overflow-x: hidden;
  a {
    padding-top: var(--demo-space-1);
    padding-bottom: var(--demo-space-1);
    padding-right: 20px;
    text-decoration: none;

    color: #f1f1f1;
    display: block;
    fill: currentColor;

    &,
    &:focus,
    &:active,
    &:hover {
      color: #f1f1f1;
    }
  }

  .active-link {
    &,
    &:focus,
    &:hover,
    &:active {
      color: var(--demo-color-blue);
      background: rgba(255, 255, 255, 0.9);
    }
  }
  .sidebar-category-title.sidebar-category-title--active {
    & {
      background: rgba(255, 255, 255, 0.9);
      .active-link {
        background: transparent;
      }
    }
    &,
    & a,
    & a:focus,
    & a:hover,
    & a:active {
      color: var(--demo-color-blue);
    }
  }
}
.sidebar .sidebar-category-title.sidebar-category-title--active,
.sidebar .active-link,
.sidebar .active-link:focus,
.sidebar .active-link:hover,
.sidebar .active-link:active {
  color: var(--demo-color-blue);
  // background: white;
}

.sidebar .sidebar-category.sidebar-category {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.sidebar-category-title {
  display: flex;
  flex-flow: row;
  font-weight: 700;
}
.sidebar-category > .sidebar-category-title {
  padding-left: 20px;
  color: #f1f1f1;
}
.sidebar-category-content > a {
  padding-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    // font-size: 18px;
  }
}

.sidebar .sidebar-container {
  padding: 10px 0px;
  padding-top: 0px;
}
.sidebar .sidebar-container > * {
  padding: 4px 20px;
}
