html.ab--theme-BlueTheme {
  --ab-theme-loaded: BlueTheme;

  --ab-cmp-input--disabled__background: #232323;

  --ab-color-defaultbackground: white;
  --ab-color-text-on-defaultbackground: #3e444c;

  --ab-color-secondarylight: #8fbae0;
  --ab-color-secondarydark: #163550;
  --ab-color-secondary: #5e9cd3;
  --ab-color-primary: #cee1f3;
  --ab-color-primarylight: #f4f9fe;
  --ab-color-primarydark: #183e63;
  --ab-color-text-on-primary: #183e63;

  --ab-dashboard__border: #555;
  --ab-cmp-dropdownbutton-list-separator__border: 1px solid #555;

  --ab-gridheader--filtered__background: var(--ab-color-defaultbackground);
  --ab__border-radius: 0px;
  --ab-cmp-panel__border-radius: 0px;

  --ab-color-accent: #d8dc6a;
  --ab-color-accentlight: #d8dc6a;
}
html.ab--theme-BlueTheme .ab-Panel {
  --ab-cmp-panel__border-radius: 0px;
}
