.evenRowStyle {
  background: lightyellow !important;
  color: brown;
  font-weight: normal !important;
  font-style: bold !important;
}
.oddRowStyle {
  background: pink !important;
  font-weight: normal !important;
  font-style: italic !important;
}
