.evenRowStyle {
  background: purple !important;
  color: lightgreen;
  font-weight: normal !important;
  font-style: bold !important;
}
.oddRowStyle {
  background: brown !important;
  font-weight: normal !important;
  font-style: italic !important;
}
.allRowStyle {
  background: pink !important;
  font-weight: normal !important;
  font-style: italic !important;
}
