html, body {
height: 100%
}

#grid{
    height: 80%
}

    .number-cell {
        text-align: right;
    }
    .bool-cell {
        text-align: center;
    }

    div.topBar {
        background-color: white;
        height: 50px;
        text-align: left;          
    }
    h2 {
        display: inline;
        vertical-align: middle
    }