<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>AdaptableBlotter.JS ag-Grid Demo</title>
    <!--CSS for the demo-->
    <link href="aggriddemo.css" rel="stylesheet" />
    <link href="demo.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="ExtLibs/bootstrap/css/bootstrap.min.css">
    <!-- ag-Grid -->
    <script src="ExtLibs/agGrid/ag-grid.min.js"></script>
    <script src="ExtLibs/agGrid/ag-grid-enterprise.min.js"></script>

    <script src="ExtLibs/angular/angular.min.js"></script>
    <script src="ExtLibs/iPushPull/ng-ipushpull-standalone.js"></script>

</head>

<body>
    <nav class="navbar navbar-inverse" style="margin-bottom:5px;">
        <div class="topBar">
            <span>
                &nbsp;&nbsp; &nbsp;&nbsp;
                <img src="../images/AdaptableBlotter.png" height="50">
                <h2>&nbsp;&nbsp;AdaptableBlotter.JS - Demo&nbsp;&nbsp;</h2>
                <img src="../images/AdaptableBlotter.png" height="50">
            </span>
        </div>
        <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="http://demo.adaptableblotter.com" target="_self">Home</a>
                <div class="navbar-brand">&nbsp;&nbsp;&nbsp;&nbsp;Data Selector: </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   <form class="navbar-form navbar-left">


                    <div class="form-group">
                     <select onchange="saveData()" class="form-control" id="dataset_select">
                            <option value="Select">Select a Dataset</option>
                        </select>
                    </div>
                    <button class="btn btn-default" onclick="window.location.reload()">Regenerate Blotter</button>
                        
                </form>
                <div class="collapse navbar-collapse" align="right" vertical-align="bottom">
                    <br/>
                    <a href="https://adaptabletools.zendesk.com/hc/en-us" target="_blank">Adaptable Blotter Help</a>
                </div>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <script>
        function saveData() {
            var datasetElement = document.getElementById("dataset_select");
            localStorage.setItem(datasetElement.id, datasetElement.value);
        }
    </script>
    <!-- Adaptable Blotter div for react and dashboard -->
    <div id="adaptableBlotter"></div>
    <p/>
    <!-- Grid div -->
    <div id="grid" class="ag-blue"></div>
    <% if (htmlWebpackPlugin.options.harnessJs) { %>
        <script src="<%= htmlWebpackPlugin.options.harnessJs %>" type="text/javascript"></script>
        <% } %>
            <% if (htmlWebpackPlugin.options.demoJs) { %>
                <script src="<%= htmlWebpackPlugin.options.demoJs %>" type="text/javascript"></script>
                <% } %>
                    <script>
                        var blotter = new aggriddemo.agGridDemo("grid", "adaptableBlotter")
                    </script>
</body>

</html>