<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Adaptable Blotter ag-Grid Demo</title>
    <!--CSS for the demo-->
    <link href="aggriddemo.css" rel="stylesheet" />
    <link href="demo.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="ExtLibs/bootstrap/css/bootstrap.min.css">
    <!-- ag-Grid -->
    <script src="ExtLibs/agGrid/ag-grid.min.js"></script>
    <script src="ExtLibs/agGrid/ag-grid-enterprise.min.js"></script>

    <script src="ExtLibs/angular/angular.min.js"></script>
    <script src="ExtLibs/iPushPull/ng-ipushpull-standalone.js"></script>

</head>

<body>
    <nav  style="margin-bottom:0px;">
        <div class="topBar">
            <form class="navbar-form navbar-left">
                <span>
                    <a href="http://demo.adaptableblotter.com" target="_self">Home</a>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="../images/AdaptableBlotter.png" height="50"> &nbsp;&nbsp;
                            <h4>&nbsp;&nbsp;AdaptableBlotter.JS Demo&nbsp;&nbsp;</h4>
                       
                        <select onchange="saveData()" class="form-control" id="dataset_select">
                            <option value="Select">Select Dataset:</option>
                        </select>
                    </span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://adaptabletools.zendesk.com/hc/en-us" target="_blank">Help</a>
                    </span>
                </span>
            </form>
         </div>
     </nav>
    <script>
        function saveData() {
            var datasetElement = document.getElementById("dataset_select");
            localStorage.setItem(datasetElement.id, datasetElement.value);
            window.location.reload();
        }
    </script>
    <!-- Adaptable Blotter div for react and dashboard -->
    <div id="adaptableBlotter"></div>
    <p/>
    <!-- Grid div -->
    <div id="grid" class="ag-blue"></div>
    <% if (htmlWebpackPlugin.options.harnessJs) { %>
        <script src="<%= htmlWebpackPlugin.options.harnessJs %>" type="text/javascript"></script>
        <% } %>
            <% if (htmlWebpackPlugin.options.demoJs) { %>
                <script src="<%= htmlWebpackPlugin.options.demoJs %>" type="text/javascript"></script>
                <% } %>
                    <script>
                        var blotter = new aggriddemo.agGridDemo("grid", "adaptableBlotter")
                    </script>
</body>

</html>