<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>AdaptableBlotter.JS ag-Grid Config Demo</title>
    <!--CSS for the demo-->
    <link href="aggriddemo.css" rel="stylesheet" />
    <link href="demo.css" rel="stylesheet" />
    <!-- ag-Grid -->
    <script src="ExtLibs/agGrid/ag-grid-community.min.js"></script>
    <script src="ExtLibs/agGrid/ag-grid-enterprise.min.js"></script>
</head>

<body>
    <nav style="margin-bottom:0px;">

        <span>
            <table>
                <tr>
                    <td>
                        <h4>&nbsp;&nbsp;AdaptableBlotter.JS - Predefined Config Demo&nbsp;&nbsp;</h4>
                    </td>
                    <td>
                        2 Layouts, 1 Conditional Style, Dashboard changes etc.
                    </td>
            </table>
        </span>
    </nav>

    <script>
        function saveData() {
            var datasetElement = document.getElementById("dataset_select");
            localStorage.setItem(datasetElement.id, datasetElement.value);
        }
    </script>
    <!-- Adaptable Blotter div for react and dashboard -->
    <div id="adaptableBlotter"></div>
    <p></p>
    <!-- Grid div -->
    <div id="grid" class="ag-balham"></div>
    <% if (htmlWebpackPlugin.options.harnessJs) { %>
    <script src="<%= htmlWebpackPlugin.options.harnessJs %>" type="text/javascript"></script>
    <% } %>
    <% if (htmlWebpackPlugin.options.demoJs) { %>
    <script src="<%= htmlWebpackPlugin.options.demoJs %>" type="text/javascript"></script>
    <% } %>
    <script>
        var blotter = new aggridconfigdemo.agGridConfigDemo()
    </script>
</body>

</html>