html, body {
height: 100%
}

#grid{
    height: 75%
}

    .number-cell {
        text-align: right;
    }
    .bool-cell {
        text-align: center;
    }
    .home-button{
        margin: 5
    }
